<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">LogIn</h3>
                <form [formGroup]="formularioIngreso" (ngSubmit)="onLogIn()">
                    <div class="form-group">
                      <label for="InputCorreo">Correo Electrónico</label>
                      <input type="email" class="form-control" id="InputCorreo" aria-describedby="emailHelp" placeholder="Ingresar Correo Electrónico" formControlName="email">                      
                    </div>
                    <div class="form-group">
                      <label for="InputPassword">Contraseña</label>
                      <input type="password" class="form-control" id="InputPassword" placeholder="Ingresar Contraseña" formControlName="password">
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Guardar Contraseña</label>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                  </form>
                  <button (click)="onLogInWithGoogle()" type="button" class="btn btn-primary mt-2"><img src="https://cdn.worldvectorlogo.com/logos/google-icon.svg" width="30" height="40"> Ingresar con Google</button>
                  <div class="form-group mt-3">
                    <p>¿No Tienes una Cuenta Creada?<a [routerLink]="['/register']">Registrarse</a></p>
                  </div> 
            </div>
        </div>
    </div>
</div>