<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">LogIn</h3>
        <form [formGroup]="formularioIngreso" (ngSubmit)="onLogIn()">
          <div class="form-group">
            <mat-form-field>
              <input type="email" class="form-control" email="true" id="InputCorreo" aria-describedby="emailHelp"
                matInput placeholder="Ingresar Correo Electrónico" formControlName="email">
            </mat-form-field>
            <mat-error *ngIf="campoValido('email')">
              {{getError('email')}}
            </mat-error>
          </div>
          <div class="form-group">
            <mat-form-field class="form-group">
              <input type="password" class="form-control" matInput placeholder="Ingresar Contraseña"
                formControlName="password">
            </mat-form-field>
            <mat-error *ngIf="campoValido('password')">
              {{getError('password')}}
            </mat-error>
            <mat-error>
              {{er}}
            </mat-error>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Guardar Contraseña</label>
          </div>
          <br>
          <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
        </form>
        <button (click)="onLogInWithGoogle()" type="button" class="btn btn-primary mt-2 btn-block">
          <img src="https://cdn.worldvectorlogo.com/logos/google-icon.svg" width="30" height="40"> Ingresar con
          Google</button>
        <!-- <button (click)="onLogInWithGoogle()" type="button" class="btn btn-primary mt-2 btn-block"><img -->
        <!-- src="https://cdn.worldvectorlogo.com/logos/google-icon.svg" width="30" height="40"> Ingresar con -->
        <!-- Google</button> -->
        <div class="form-group mt-3">
          <p>¿No Tienes una Cuenta Creada?<a [routerLink]="['/register']">Registrarse</a></p>
        </div>

      </div>
    </div>
  </div>
</div>