<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home </a>
        </li>
      </ul>
      <ul class="navbar-nav mx-0">
        <li class="nav-item active" *ngIf="authServ.userData|async">
          <a class="nav-link"  [routerLink]="['/post-photo']">Subir Imagen</a>
        </li> 
        <li class="nav-item active">
          <a class="nav-link" href="#" *ngIf="authServ.userData|async; else showLogin"(click)="logOut()">LogOut</a>
        </li>
          <ng-template #showLogin>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/login']">LogIn</a>
            </li>  
        </ng-template>         
        <li class="nav-item active">
          <a class="nav-link" *ngIf="authServ.userData|async">Bienvenido {{usuario}}</a>
        </li>    
      </ul>
    </div>
  </nav>